[submodule "Exploratory Data Analysis/Course Project 1/ExData_Plotting1"]
	path = Exploratory Data Analysis/Course Project 1/ExData_Plotting1
	url = https://github.com/carlosespino11/ExData_Plotting1.git

[submodule "Reproducible Research/RepData_PeerAssessment1"]
	path = Reproducible Research/RepData_PeerAssessment1
	url = https://github.com/carlosespino11/RepData_PeerAssessment1.git
