*.RData
*.Rhistory
*.gz
*.out
*.log
*.fls
*.fdb_latexmk
*.aux
*.bz2
Exploratory Data Analysis/Course Project 1/activity.zip
Exploratory Data Analysis/Course Project 2/Source_Classification_Code.rds
Exploratory Data Analysis/Course Project 2/data.zip
Exploratory Data Analysis/Course Project 2/summarySCC_PM25.rds
Getting and Cleaning Data/Project/UCI HAR Dataset/README.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/activity_labels.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/features.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/features_info.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/Inertial Signals/body_acc_x_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/Inertial Signals/body_acc_y_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/Inertial Signals/body_acc_z_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/Inertial Signals/body_gyro_x_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/Inertial Signals/body_gyro_y_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/Inertial Signals/body_gyro_z_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/Inertial Signals/total_acc_x_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/Inertial Signals/total_acc_y_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/Inertial Signals/total_acc_z_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/X_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/subject_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/test/y_test.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/Inertial Signals/body_acc_x_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/Inertial Signals/body_acc_y_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/Inertial Signals/body_acc_z_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/Inertial Signals/body_gyro_x_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/Inertial Signals/body_gyro_y_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/Inertial Signals/body_gyro_z_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/Inertial Signals/total_acc_x_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/Inertial Signals/total_acc_y_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/Inertial Signals/total_acc_z_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/X_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/subject_train.txt
Getting and Cleaning Data/Project/UCI HAR Dataset/train/y_train.txt
Getting and Cleaning Data/Project/data.zip
Reproducible Research/Project 1/activity.csv
Exploratory Data Analysis/Course Project 1/household_power_consumption.txt

Practical Machine Learning/Project/testing.csv
Practical Machine Learning/Project/training.csv