[submodule "Exploratory Data Analysis/Course Project 1/ExData_Plotting1"]
	path = Exploratory Data Analysis/Course Project 1/ExData_Plotting1
	url = https://github.com/carlosespino11/ExData_Plotting1.git
